<ion-content>
  <div *ngIf="userService.currentUser">
    <div class="header">
      <h2>{{userService.currentUser.nickname}}</h2>
    </div>
    <div class="flex">
      <div class="img-box">
        <img src="assets/avatars/{{userService.currentUser.photoUrl}}">
      </div>
    </div>

    <div class="zp-center">
      <div class="points">
        <ion-badge color="dark">{{userService.currentUser.currentScore}}</ion-badge>
        <p>ZePoints</p>
      </div>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Personal information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Member since {{userService.currentUser.createDate.slice(0, 10)}}</p>
        <p>Email : {{userService.currentUser.email}}</p>
        <p>Plan : {{userService.currentUser.permissionLevel}}</p>
      </ion-card-content>
    </ion-card>

    <ion-list class="ion-margin-end">
      <ion-item routerLink="../home">
        <ion-label>About</ion-label>
      </ion-item>

      <ion-item href="https://fr.freepik.com" target="_blank">
        <ion-label>Image Creator</ion-label>
      </ion-item>

      <ion-item routerLink="../../legal">
        <ion-label>Terms & Conditions</ion-label>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin" color="primary" expand="block" (click)="logout()">Sign out</ion-button>
    <ion-text color="medium" class="ion-text-center">
      <p>VERSION 0.0.1</p>
    </ion-text>

  </div>
</ion-content>

