<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <h3>To have access to your profile you need to bo connected</h3>
    <ion-button color="primary" expand="block" class="ion-margin-top" (click)="presentModal()">Sign in</ion-button>
    <p>Don't have an account ? <strong><a>Sign up</a></strong></p>
  </div>
  <ion-list class="ion-margin-end">
    <ion-item routerLink="../home">
      <ion-label>About</ion-label>
    </ion-item>

    <ion-item href="https://fr.freepik.com" target="_blank">
      <ion-label>Image Creator</ion-label>
    </ion-item>

    <ion-item routerLink="../../legal">
      <ion-label>Terms & Conditions</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
