<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      <ion-label>Quizzes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranks">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="" *ngIf="false">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
