<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="category">{{category.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="category">
    <ion-row class="relative-content ion-justify-content-center ion-margin-top">
        <app-category [category]="category"></app-category>
    </ion-row>
<!--    <ion-row class="ion-justify-content-between">-->
<!--      <div>-->
<!--        <ion-icon name="eye-outline"></ion-icon>-->
<!--        {{category.views}}-->
<!--      </div>-->
<!--      <div>-->
<!--        <ion-icon name="star-outline"></ion-icon>-->
<!--        <span *ngIf="category.rate == 0">Never rated</span>-->
<!--        <span *ngIf="category.rate != 0">{{category.rate}}</span>-->
<!--      </div>-->
<!--    </ion-row>-->

    <ion-row class="ion-justify-content-center ion-margin-vertical">
      quiz
    </ion-row>
    <!-- ADS -->
    <ion-card class="ion-padding">PUB</ion-card>
  </div>
</ion-content>
