<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="category">{{category.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="category">
    <ion-row class="relative-content ion-justify-content-center ion-margin-top">
        <app-category [category]="category"></app-category>
    </ion-row>

    <div class="ion-margin-horizontal">

      <ion-row class="ion-justify-content-center">
        <div class="ion-margin-horizontal">
          <ion-icon name="eye-outline" color="primary"></ion-icon>
          {{category.views}}
        </div>
        <div class="ion-margin-horizontal">
          <ion-icon name="star" color="primary"></ion-icon>
          <span *ngIf="category.rate == 0">never rated</span>
          <span *ngIf="category.rate != 0">{{category.rate}}</span>
        </div>
      </ion-row>

      <ion-text>
        <h3>Play Alone ?</h3>
      </ion-text>
      <ion-button color="secondary" expand="block" (click)="startQuiz()">Start Quiz</ion-button>
      <ion-text>
        <h3>ZeVersus Mode ?</h3>
      </ion-text>
      <ion-button color="secondary" expand="block" (click)="goToVS()">Create ZeVersus Room</ion-button>
    </div>

<!--    <ion-card>-->
<!--      <ion-card-header>-->
<!--        <h4>Quelle est ma plus grande source de stress ? Quelles actions puis-je mettre en place pour y faire face ?</h4>-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->
<!--        <ion-row class="ion-justify-content-center">-->
<!--          <ion-button>True</ion-button>-->
<!--          <ion-button>False</ion-button>-->
<!--        </ion-row>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->
    <!-- ADS -->
    <ion-card class="ion-padding">PUB</ion-card>
  </div>
</ion-content>
