<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">ZeQuiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 class="ion-text-center ion-margin-top">ZeQuiz - English quizzes platform</h4>

  <ion-card class="bg-gradient" routerLink="../all">
    <ion-card-content>
      Explore categories to see the complete list of quizzes.
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="ion-margin" *ngIf="newsList && viewsList">
    <h2>New quizzes</h2>
    <div class="slides">
      <div>
        <app-category [category]="newsList[0]"></app-category>
      </div>
      <div>
        <app-category [category]="newsList[1]"></app-category>
      </div>
      <div>
        <app-category [category]="newsList[2]"></app-category>
      </div>
    </div>
    <h2>Popular quizzes</h2>
    <div class="slides">
      <div>
        <app-category [category]="viewsList[0]"></app-category>
      </div>
      <div>
        <app-category [category]="viewsList[1]"></app-category>
      </div>
      <div>
        <app-category [category]="viewsList[2]"></app-category>
      </div>
    </div>
  </div>
</ion-content>
