/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.title {
  font-family: 'Ranchers', cursive !important;
}

h2 {
  font-family: 'Roboto', sans-serif !important;
}

.bg-gradient {
  background: rgb(27,85,197);
  background: linear-gradient(90deg, rgba(27,85,197,1) 0%, rgba(115,46,176,1) 70%);
  border: none;
  outline: 0;
  color: #F5F5F5;
}

.bg-gradient:hover, .bg-gradient:focus {
  background: rgb(115,46,176);
  background: linear-gradient(90deg, rgba(115,46,176,1) 0%, rgba(27,85,197,1) 70%);
  cursor: pointer;
  color: #F5F5F5;
}

.relative-content {
  position: relative !important;
}
